<div class="card">
  <h1 class="card-header">Title</h1>
  <div class="card-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dignissimos nesciunt facilis dolorem autem voluptatibus saepe iure, qui quam numquam eos iusto repudiandae excepturi ipsam et officiis possimus quis hic!
    Voluptatum asperiores aspernatur enim libero facilis quisquam magnam, minima unde natus dicta? Similique neque dolor expedita nobis nesciunt placeat nulla, iste corporis aliquam quibusdam, deserunt omnis inventore. Facilis, quae recusandae.
    Soluta consequuntur, et harum aliquid explicabo similique tempora unde sunt eum sit? Expedita impedit modi dicta laudantium dolore perferendis tempora dolorum, explicabo, facilis delectus maxime non ex deserunt ipsa esse.
    Amet inventore ducimus deserunt, recusandae nesciunt fugiat! Voluptatem delectus sed quidem facilis, quaerat cum esse eveniet excepturi ab harum dolore consequuntur velit, omnis iusto pariatur laboriosam quam provident, nulla repellendus?
    Odit sit tempora, maiores fugiat beatae quia natus dolore porro numquam id ipsa asperiores culpa repellat sequi cumque esse nobis vero. Qui, velit minima quos error iure autem magni tenetur.
    Possimus, dicta ea blanditiis voluptatem eveniet qui officiis error deleniti iste architecto itaque voluptatibus ad nostrum, quas sunt dolor tenetur at, aspernatur impedit illum natus ipsum molestiae soluta? Doloribus, rem?
    Iure iusto obcaecati doloribus magnam impedit et. Eligendi qui sequi, repellendus pariatur minima iusto exercitationem! Ullam explicabo eum dicta accusamus similique. Veniam, voluptatum voluptatem. Eveniet harum asperiores doloremque tempore ad!
    Dolor autem odio, consequatur facilis quas fuga beatae? Quos laudantium vel velit accusamus dicta error asperiores eaque, deleniti aliquam perspiciatis deserunt harum recusandae facere quasi accusantium fugiat animi nesciunt. Excepturi.
    Perferendis voluptas velit eum modi! Sed omnis animi ab, consectetur voluptatem tempore corporis quisquam nisi distinctio delectus vitae unde nemo dolor facere laborum sunt deserunt! Repellendus nostrum expedita necessitatibus? Sunt?
    Voluptates facere fuga architecto, sapiente pariatur ex harum assumenda? Adipisci tempore unde quaerat corrupti expedita fugit ea possimus quis sint itaque, iusto incidunt? Illum vitae ducimus amet perferendis cupiditate sint!</p>
    <p>Average rating (xx)</p>
    <p><strong>Made by: </strong>Ben</p>
  </div>
</div>