<!--
    Show if user has review
-->

<div class="row">
  <article class="col-md-12">
    <h2 class="text-center">Review</h2>

    <div class="componentsOverview justify-content-around mt-3">
      <form>
        <div class="row">
          <div class="form-group col-6">
            <label for="review_screenreader">Screen reader: </label>
            <input
              class="form-control"
              type="number"
              name="review_screenreader"
              id="review_screenreader"
            />
            <label for="review_screenreader_comment">Comment: </label>
            <textarea
              class="form-control"
              name="review_screenreader_comment"
              id="review_screenreader_comment"
            ></textarea>
          </div>
          <div class="info_screenreader col-6">
            <p>What is this?</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              impedit libero accusantium qui maiores, debitis id deleniti
              dolorem numquam quos adipisci cupiditate tempora quasi asperiores!
              Sunt eveniet ab laboriosam distinctio?
            </p>
          </div>
        </div>
      </form>
    </div>
  </article>
</div>
