<h1 class="text-center p-3">Upload</h1>
<div class="row">
  <article class="col-md-9">
    <h2>New uploads</h2>

    <form
      #form
      method="POST"
      action="https://localhost:44306/api/submission/component"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="title">Title: </label>
        <input
          [(ngModel)]="newUpload.title"
          class="form-control"
          type="text"
          name="component_title"
          id="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          [(ngModel)]="newUpload.description"
          class="form-control"
          name="component_description"
          id="description"
          cols="30"
          rows="10"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="upload">Upload your component: </label>
        <input
          [(ngModel)]="newUpload.zip"
          class="form-control"
          type="file"
          name="component_zipfile"
          accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed"
          id="zipfile"
        />
      </div>

      <input type="submit" class="btn btn-primary" value="Submit" (click)="form.submit()" />
    </form>

    <p>
      Please upload a zip file containing your component... Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur voluptatum, officiis eaque,
      laborum eius culpa illum corporis esse praesentium vero reiciendis.
      Accusamus aliquid earum nemo debitis amet esse ipsum eveniet!
    </p>
  </article>

  <aside class="col-md-3">
    <h2>My uploads</h2>

    {{ uploads }}
  </aside>
</div>
